:root {
  font-size: 62.5%;
}

body {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-dropdown-container {
  display: flex;
  font-size: 2.4rem;
  flex-direction: column;
  position: relative;
}

.menu-select {
  display: flex;
  align-items: center;
  border: 1px solid rgb(177, 177, 177);
  box-sizing: border-box;
  height: 3.8rem;
  border-radius: 5px;
  padding: .8rem 1.6rem;
  user-select: none;
}

.menu-select:hover {
  background-color: rgba(0, 0, 0, 0.144);
}

.menu-item-container {
  display: flex;
  background-color: white;
  flex-direction: column;
  border: 1px solid rgb(177, 177, 177);
  padding: .8rem 0rem;
  border-radius: .5rem;
  width: 25rem;
  top:4rem;
  position: absolute;
}

.menu-item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 3.8rem;
  user-select: none;
  padding: .8rem 1.6rem;
}

.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.144);
}